.a-content {
  position:  relative;
  width: 50%;
  height: auto;
  text-align: center;
  /* background-image: url("https://img.freepik.com/free-vector/background-organic-supermarket-with-watercolor_125540-704.jpg?size=626&ext=jpg&ga=GA1.1.1431584519.1677284003&semt=robertav1");
  background-size: cover; */
  left: 23%;
}

.a-content-p{
  margin-top: 450px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.aboutTitle{
  font-size: larger;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(133, 240, 133);
  text-shadow: 0px 0px 5px black;
  margin-bottom: 7px;
}
.aboutContainer{
  height: 1010px;
  background-image: url("https://img.freepik.com/free-vector/background-organic-supermarket-with-watercolor_125540-704.jpg?size=626&ext=jpg&ga=GA1.1.1431584519.1677284003&semt=robertav1");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.aboutLogo{
  width: 50%;
  position: relative;
}