.ShopContainer1 {
  margin: 23%; 
  margin-top: 5%;
  background-color: rgb(255, 255, 255, 0.3);
  color: #070707cc;
  border-color: black;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-left: 15px;
}
.ShopContainer1a{
  margin: 5%;
  margin-top: 0px;
  text-align:center;
}
#Separate{
  width: 50%;
}
.ShopTittle{
  font-size: 200%;
  font-weight: 900;
  color:#023047;
  margin-top:20px
}

.cbutondetail{
  display: flex;
  justify-content: center;
}
.header,.header2{
  display: grid;
  grid-template-columns: 9% 27% 11% 11% 21% 11% 11%;
  margin-left: 20px;
  margin-right: 20px;
}
.header2{
  background-color: rgba(199, 199, 199, 0.739);
}
.header{
  border: 1px solid #858585cc;
  border-top: 0px solid #858585cc;
  border-left: 0px solid #858585cc;
  border-right: 0px solid #858585cc;
}
.header button, .header2 button{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
}
.shopImg{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.shopAmount{
  display: grid;
  grid-template-columns: 25% 25% 25%;
}
.shopNum{
  height: 22px;
}
#shopTotal{
  display: grid;
  grid-template-columns: 80% 20%;
  font-weight: bold;
}

