
.loginContainer{
  position: absolute;
  width: 100%;
  height: 100%; 
  margin: 10px;
  
}
#loginButtonGoToHomepage{
position: absolute;
top: 30%;
left: 40%;
transform: translate(-50%, -50%);  
width: 20%;
margin: 8%;
margin-top: 6%;
background-color: rgb(255, 255, 255, 0.3);
color: #070707cc;
border-color: black;
padding: 5px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
padding-left: 15px;
padding-top: 40px;
z-index: 1;
}
#int{
margin-left: 20px;
margin-bottom: 20px;
margin-right: 20px;
}
#int p{
text-align: justify;
}
.background img{
  width: 100%;
  height: 800px;
  margin: 0;
  left: 0;
  top:0;
  opacity: 0.95;
  z-index: -1;
}